* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #121212;
  height: 100vh;
  width: 100%;
  /* background-image: url(../images/treasure-chest.jpg); */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
}

.heading {
  height: min-content;
  background: transparent;
  margin: 25vh 10vh 100vh 90vh;
  
}