* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #121212;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
}