@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Ubuntu+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #121212;
}

.landing {
  /* background-color: #121212; */
  display: flex;
  align-items: flex-start;
  height: 50vh;
  flex-direction: column;
  margin-top: -5vh;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.heading1 {
  margin-left: 2rem;
  color: white;
  word-spacing: 0.5rem;
  margin-top: 8rem;
}

.heading2 {
  margin-left: 2rem;
  color: white;
  word-spacing: 0.5rem;
}

#btn {
  margin-left: 2rem;
  height: 3rem;
  width: 6rem;
  margin-top: 1.5rem;
  font-weight: 700;
}

.rules {
  color: white;
  display: flex;
  height: 10vh;
  width: 65vw;
  /* justify-content: center; */
  flex-direction: column;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 10vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 7rem;
  right: 10rem;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.input {
  height: 3rem;
  width: 20rem;
  margin-top: 1rem;
  background-color: rgb(228, 213, 213);
  border: none;
  outline: none;
  font-size: large;
  padding: 5px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.list {
  margin-top: 1rem;
  margin-left: 2rem;
}

.heading3 {
  margin-left: 2rem;
  color: white;
  word-spacing: 0.5rem;
  margin-top: 5rem;
}

.valid {
  width: 20rem;
  margin-top: 1vh;
}

@media only screen and (max-width: 1300px){
  .info {
    top: 21.5rem;
  }
}
@media only screen and (max-width: 510px){
  .info {
    /* position: absolute; */
    /* right: 0; */
  }
  
  .input {
    height: 2rem; 
    width: 12rem;
  }

  .rules {
    margin-top: 10rem;
  }

  .valid {
    width: 12rem;
  }
}