* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #121212;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link {
  margin-top: 0;
}

.header {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.rules {
  width: 20rem;
  border: 1px solid white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.head {
  color: white;
}

.list {
  color: rgb(211, 203, 203);
  font-size: small;
}