* {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.wrapper {
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link {
  margin-top: 2rem;
  font-size: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100vh;
  margin-top: 5rem;
  text-align: center;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 1.5vw;
}

.rules {
  width: 20rem;
  /* border: 1px solid white; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 2rem;
  top: 1rem;  
}


.head {
  color: white;
}

.list {
  color: rgb(211, 203, 203);
  font-size: small;
}

.btnRules {
  
}
@media only screen and (max-width: 1500px){
  .heading {
    font-size: 1.5vw;
  }

  .header {
    margin-top: 25vh;
  }
  .rules {
    width: 30rem;
  }
}

@media only screen and (max-width:970px){
  .header {
    width: 50vh;
    margin-top: 20vh;
  }

  .heading {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 550px){
  .header {
    width: 40vh;
    margin-top: 40vh;
  }

  .heading {
    font-size: 4vw;
  }

  .list {
    font-size: 10px;
  }

  .link {
    font-size: 1rem;
  }

  .rules {
    width: 40vh;
    height: fit-content;
  }
}
